/*
This is a placeholder CSS file based
on one I created for a different project
in my programing on the internet class
*/
/*comment by Devon*/
body
{
    background-color: #666666;
    background-image: linear-gradient(to bottom, #FFFFFF,#666666);
    background-repeat: no-repeat;
    font-family:Arial, Helvetica,sans-serif;
    margin:0px;
}
#container
{
    width:960px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    box-shadow:5px 5px 5px 0px #1e1e1e ;
    border-radius: 15px;

}
#signedin{
    text-align: right;
    font-size: 1em;
}
.error {color: red;}

nav{
	font-family: Arial, sans-serif;
	font-size: 2em;
	text-align: center;
}

nav li{
	display: inline;
}

header
{
    text-align: center;
    height: 150px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}
h1
{
    text-align: center;
    font-family: Impact, sans-serif;
    font-size: 4em;
}
h2
{
    font-family: Impact, sans-serif;
    font-size: 3em;
    padding-left: 10px;
    text-align: center;
}
h3
{
	font-family: Impact, sans-serif;
	font-size: 2em;
	padding-left: 15px;
	text-align:center;
}
p{
	font-family: Impact, sans-serif;
	font-size: 1em;
	padding-left: 20px;
}
a{
	text-align: center;
}
