<!DOCTYPE html>

<html>
	<head>
		{% block head %}
		<title>{%block title%}Healthy Habit Tracker{%endblock%}</title>
		{% endblock %}
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename="css/styles.css")}}">
	</head>
	<body>

		<div id="signedin">
			{% if user %}
			<p>Signed in as: {{user}}</p>
			<a href="/logout">Sign Out</a>
			{%endif%}
		</div>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/sleep">Sleep</a></li>
				<li><a href="/workout">Workout</a></li>
				<li><a href="/diet">Diet</a></li>
			</ul>
		</nav>
		<header>
			<h1>{%block header%}page name{%endblock%}</h1>

		</header>
		<main>
			{% if error %}
				<p class="error">{{ error }}</p>
			{% endif %}
			{% block body %}
			{% endblock %}
		</main>
	</body>
</html>
