{% extends "base.html" %}
{% block title %}Input Data{% endblock %}

{%block head%}
	{{ super()}}
{% endblock %}

{% block header%}Input Data for Trackers{%endblock%}

{% block body %}
<div id = "container">
    <form action="/insert" method="post">
        <label for="date">Date:</label><br>
        <input type="date" name="date" id="date" required><br>
        <label for="hours">Hours of Sleep: </label><br>
        <input type="number" name="hours" id="hours"><br>
        <label for ="mealhealth">Rate the overall healthiness of your meals (1-low, 10-high):</label><br>
        <input type="number" name="mealhealth" id="mealhealth" min="1" max="10"><br>
        <p>Please Select all muscle groups you exercised</p>
        <label for="Arms">Arms</label>
        <input type="checkbox" id="Arms" name="Arms" value="arms"><br>
        <label for="legs">Legs</label>
        <input type="checkbox" id="legs" name="Legs" value="legs"><br>
        <label for="chest">Chest</label>
        <input type="checkbox" id="chest" name="Chest" value="chest"><br>
        <label for="back">Back</label>
        <input type="checkbox" id="back" name="Back" value="back"><br>
        <label for="core">core</label>
        <input type="checkbox" id="core" name="Core" value="core"><br>
        <label for="cardio">Cardio</label>
        <input type="checkbox" id="cardio" name="Cardio" value="cardio"><br>
        <label for="intensity">Rate the overall Intensity of your workout (1-low, 10-high):</label>
        <input type="number" id="intensity" name="intensity" min="1" max="10"><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}